<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <title>{% block title %} {% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <main>
            <header>
            <h1>Actividades DCC</h1>
            <nav>
                <a href="{{url_for('listado_miembros')}}" class="button">Registro</a>
                <a href="{{url_for('estadisticas')}}" class="button" >Estadísticas</a>
                <a href="{{url_for('listado_miembros')}}" class="button">Lista de Miembros</a>
            </nav>
            </header>
            <main>
            {% block content %}
            {% endblock %}
            </main>
        <footer>
            <p>Desarrollo Web - Sebastián Romero</p>
        </footer>
    </body>
</html>