{% extends "base.html" %}
{% block title %}Listado de Miembros{% endblock %}

{% block content %}
<div id="container" style="padding-top: 80px; padding-bottom: 80px;">
            
    <h2 style="font-size: 3rem; margin-bottom: 20px;">Miembros Registrados</h2>
            
        <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
            {% for miembro in miembros_paginated %}
                <div style="background-color: #f0f0f0; padding: 20px; border-radius: 10px; width: 250px; text-align: center;">
                    <h3 style="margin-top: 0;">{{ miembro.nombre }}</h3>
                    <p style="margin-bottom: 5px;"><strong>Email:</strong> {{ miembro.email }}</p>
                    <p style="margin-bottom: 0;"><strong>Teléfono:</strong> {{ miembro.telefono }}</p>
                    <a href="{{ url_for('ver_actividad_miembro', id=miembro.id) }}" class="button" style="margin-top: 10px;">Ver Actividades</a>
                </div>
            {% endfor %}
            {% if page > 1 %}
                <a href="{{ url_for('listado_miembros', page=page-1) }}" class="button" style="margin-top: 120px;">Anterior</a>
            {% endif %}
            {% if page < total_pages %}
                <a href="{{ url_for('listado_miembros', page=page+1) }}" class="button" style="margin-top: 120px;">Siguiente</a>
            {% endif %}
        </div>
</div>
{% endblock %}