<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Actividades DCC</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>Actividades DCC</h1>
            <nav>
                <a href="register.html" class="button">Registro</a>
                <a href="statistics.html" class="button" >Estadísticas</a>
                <a href="list_members.html" class="button">Lista de Miembros</a>
            </nav>
        </header>
        <main>
            <section>
                
            </section>
        </main>
    </body>
</html>