{ % extends "base.html" %}
{ % block title %}Registro de Actividades{% endblock %}

{ % block content %}
<section>
    <h2>Actividades</h2>
    <div id="val-box" hidden>
        <h2 id="val-msg"></h2>
        <ul id="val-list"></ul>
    </div>
    <form name="Actividades" method="post">
        <label for= "nombre1">Nombre:</label>
        <input type= "text" id="nombreA" name ="nombre" required> <br><br>

        <label for="tipo">Tipo de Actividad</label>
        <select id="tipo-actividad">
            <option value="">-- Seleccione --</option>
            <option value="deportiva">Deportiva</option>
            <option value="artistica">Artística</option>
            <option value="tecnologica">Tecnológica</option>
            <option value="social">Social</option>
            <option value="recreativa">Recreativa</option>
        </select>

        <label for="descripcion">Descripción (opcional):</label>
        <input type="text" id="descripcion" name="descripcion" required><br><br>

        <label for= "dias">Días dedicados:</label>
        <input type= "number" id= "days" name="days" required><br><br>

        <label for="horas">Horas dedicadas:</label>
        <input type="number" id="horas" name="horas" required><br><br>

        <label for="files">Archivos</label>
        <input type="file" name="files" id="files" multiple accept="image/*"><br><br> 

        <button type="submit" id="submit-btn" class="button">Registrar</button>
    </form>
{% endblock %}
