{% extends "base.html" %}
{% block title %}Registro de Actividades{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<section>
    <h2>Actividades</h2>
    {% if errores %}
    <div style="background-color: #ffdddd; border-left: 6px solid #f44336; padding: 10px; margin-bottom: 15px;">
        <h3 style="margin-top: 0; color: #d8000c;">Error al guardar:</h3>
        <ul style="color: #d8000c;">
            {% for error in errores %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div id="val-box" hidden>
        <h2 id="val-msg"></h2>
        <ul id="val-list"></ul>
    </div>
    <form id="form-actividades" name="Actividades" method="post" enctype="multipart/form-data">
        <label for= "nombre1">Nombre:</label>
        <input type= "text" id="nombre" name ="nombre" required> <br><br>

        <label for="tipo">Tipo de Actividad</label>
        <select id="tipo" name="tipo" required>
            <option value="">-- Seleccione --</option>
            <option value="deporte">Deportiva</option>
            <option value="arte">Artística</option>
            <option value="tecnología">Tecnológica</option>
            <option value="social">Social</option>
            <option value="recreación">Recreativa</option>
            <option value="otra">Otra</option>
        </select>
        <label for="dia">Día de la Semana</label>
        <select id="dia" name="dia" required>
            <option value="">-- Seleccione --</option>
            <option value="lunes">Lunes</option>
            <option value="martes">Martes</option>
            <option value="miércoles">Miércoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sábado">Sábado</option>
            <option value="domingo">Domingo</option>
        </select>
        <label for="descripcion">Descripción (opcional):</label>
        <input type="text" id="descripcion" name="descripcion" required><br><br>

        <label for="hora_inicio">Hora de inicio</label>
        <input type="time" id="hora_inicio" name="hora_inicio" required><br><br>
        <label for="duracion">Duración (en horas)</label>
        <input type="time" id="duracion" name="duracion" required><br><br>
        <label for="files">Archivos</label>
        <input type="file" name="files" id="files" multiple accept="image/*"><br><br> 

        <button type="submit" id="submit-btnActivities" class="button">Registrar</button>
    </form>
</section>
{% endblock %}
